body{  
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;  
    background-color: rgb(163, 153, 155); 
    height: 100%;
    width: 100%;
    border-radius: 30px;
    
  } 
  .bill-officer-action{
    width: 70%; 
    margin-left:70px;
    height: 70px;
    padding: 60px;  
    background-color: lightblue; 
    border-radius: 30px;
  }
  .bill-officer-action>h2{
      color:#415641;
    padding-left: 140px;
    margin-top: -60px;
    font-size: 30px;
  }
  .bill-officer-button>button{
    font-size: 24px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: rgb(44, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 30px;
  }
  .bill-officer-button>button:hover{
    background-color: green;
    cursor: pointer;

  }
  .bill-officer-button>button:focus{
    background-color: #666;;
    cursor: pointer;
  }
  .calculate-bill{
    width: 60%; 
    margin-left:140px;
    padding-top: 70px;
      padding: 60px;  
    background-color: lightblue; 

  }
  .generate-bill{
    width: 60%; 
    margin-left:140px;
    padding-top: 70px;
      padding: 60px;  
    background-color: lightblue; 

  }
  .view-bill-report{
    width: 60%; 
    margin-left:140px;
    padding-top: 70px;
      padding: 60px;  
    background-color: lightblue; 

  }
  .calculate-bill>h3{
    padding-left: 140px;
    margin-top: -90px;
    font-size: 30px;
  }
  .generate-bill>h3{
    padding-left: 140px;
    margin-top: -90px;
    font-size: 30px; 
  }
  .view-bill-report>h3{
    padding-left: 140px;
    margin-top: -90px;
    font-size: 30px;
  }