body {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color: rgb(163, 153, 155);
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.container {
    width: 70%;
    margin-left: 70px;
    height: 90px;
    padding: 60px;
    background-color: lightblue;
    border-radius: 30px;
}

.personal-information {
    width: 70%;
    margin-left: 40px;
    padding: 10px;
    padding-top: 20px;
    background-color: lightblue;
    border-radius: 50px;
}

.private-information {
    width: 70%;
    margin-left: 40px;
    padding: 60px;
    padding-top: 10px;
    background-color: lightblue;
    border-radius: 50px;
}

.public-information {
    width: 70%;
    margin-left: 40px;
    padding: 60px;
    padding-top: 10px;
    background-color: lightblue;
    border-radius: 50px;
}

input[type=text] {
    width: 96%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: lightgray;
    outline: none;
}

.registerbtn {
    background-color: #2c942f;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
    transform: 1s;
    color: rgb(253, 253, 253);
    background-color: green;
}

.account-type {
    /* width: 10rem;
    height: 3rem; */
    display: block;
    margin-top: 10px;
    margin-left: 90px;
    float: left;
}

.account-type>input {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: rgb(44, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.account-type>input:hover {
    background-color: green;
    cursor: pointer;
}

.account-type>input:focus {
    background-color: #666;
    ;
    cursor: pointer;
}

.customer-action {
    display: block;
    margin-top: 10px;
    margin-left: 90px;
    float: left;
    width: 100px;
}

.customer-action>h2 {
    color: #114a13;
    padding-left: 140px;
    margin-top: -10px;
    font-size: 30px;
}

.customer-action>button {
    font-size: 24px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: rgb(44, 40, 40);
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.customer-action>button:hover {
    background-color: green;
    cursor: pointer;
}

.customer-action>button:focus {
    background-color: #666;
    ;
    cursor: pointer;
}

.pay-bill {
    width: 60%;
    margin-left: 140px;
    padding-top: 30px;
    padding: 60px;
    background-color: lightblue;
    border-radius: 50px;
}

.pay-bill>h3 {
    padding-left: 140px;
    margin-top: 0px;
    font-size: 30px;
}

.pay-bill-form {
    margin-top: 50px;
    /* background-color: #2c942f; */
    font-size: 30px;
    border-radius: 50px;
}

.pay-bill-form>input {
    width: 160px;
    height: 10px;
    padding-left: 20px;
    /* margin-left: 20px; */
}

.pay-bill-form>input[type="submit"] {
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    background-color: #2c942f;
    border-radius: 30px;
    text-align: center;
}

.pay-bill-form>input[type="submit"]:hover {
    cursor: pointer;
    background-color: aqua;
}

#name {
    font-size: 24px;
    margin-left: 20px;
    width: 180px;
}

#date {
    font-size: 24px;
    margin-left: 100px;
    width: 180px;
}

#prev-reading {
    font-size: 24px;
    margin-left: 10px;
    width: 180px;
}

#current-reading {
    font-size: 24px;
    margin-left: 25px;
    width: 180px;
}

#price {
    font-size: 24px;
    margin-left: 160px;
    width: 180px;
}

.give-feedback {
    width: 40%;
    margin-left: 160px;
    padding-top: 40px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 50px;
}

.give-feedback>h3 {
    padding-left: 140px;
    margin-top: 0px;
    font-size: 30px;
}

.give-feedback-form {
    margin-top: 30px;
    padding-left: 30px;
    /* background-color: #2c942f; */
    font-size: 30px;
}

.give-feedback-form>input {
    width: 160px;
    height: 10px;
    padding-left: 5px;
}

.give-feedback-form>button {
    margin: 20px;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    width: 160px;
    background-color: #2c942f;
    border-radius: 30px;
    text-align: center;
}

.give-feedback-form>button:hover {
    cursor: pointer;
    background-color: aqua;
}

#feedback-name {
    font-size: 24px;
    margin-left: 5px;
    width: 250px;
}

#feedback-date {
    font-size: 24px;
    margin-left: 5px;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
}

#feedback-comment {
    font-size: 24px;
    margin-left: 5px;
    width: 250px;
    height: 100px;
}

.maintenance-request {
    width: 50%;
    margin-left: 140px;
    padding: 10px;
    padding-top: 20px;
    background-color: lightblue;
    border-radius: 50px;
}

.maintenance-request-form {
    margin-top: 30px;
    /* background-color: #2c942f; */
    font-size: 30px;
}

.maintenance-request>h3 {
    padding-left: 100px;
    margin-top: 20px;
    font-size: 30px;
}

.maintenance-request-form {
    margin-top: 30px;
    /* background-color: #2c942f; */
    margin-left: 30px;
    font-size: 24px;
}

.maintenance-request-form>input {
    width: 160px;
    height: 10px;
    padding-left: 20px;
}

.maintenance-request-form>button {
    margin: 20px;
    cursor: pointer;
    font-size: 30px;
    height: 50px;
    width: 160px;
    background-color: #2c942f;
    border-radius: 30px;
    text-align: center;
}

.maintenance-request-form>button:hover {
    cursor: pointer;
    background-color: aqua;
}

#request-name {
    font-size: 24px;
    margin-left: 35px;
    width: 250px;
}

#request-date {
    font-size: 24px;
    margin-left: 35px;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
}

#request-type {
    font-size: 24px;
    margin-left: 35px;
    width: 250px;
}

#request-description {
    font-size: 24px;
    margin-left: 35px;
    width: 250px;
    height: 100px;
}

.error {
    padding-left: 30px;
    color: red;
}